body {
	background: linear-gradient(-45deg, #ec5050, #98219c, #13c722);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  color:lightyellow;
}

#hiddenOutput {
  display:none ;
  border:1pt dotted orange;
}

h1 {
  color:rgb(254, 254, 158);
  font-weight: bold;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:30px;
}
div {
  padding:10px;
}

.title {
  text-decoration: underline; 
  color:orange;
}

#veggie {
  color:yellow;
}
#pizza {
  color:red;
}
#veggiePizza {
  float:right;
  margin:0px 0px 15px 15px;
  display:none;
  width: 30%;
}
#blankPizza {
  float:right;
  margin:0px 0px 15px 15px;
  display:inline;
  width: 30%;
}

#priceP {
  color:lawngreen;
}

button {
    
}

#sizeP {
  color: yellow;
}

#toppingsP {
  color:yellow;
}